<div class="header">
    <h3>Please rate the <span>{{data.item}}</span></h3>
</div>
<mat-form-field class="example-full-width">
    <mat-label>Review Title:</mat-label>
    <input matInput placeholder="Review Title">
  </mat-form-field>
<mat-form-field class="example-full-width">
    <mat-label>Write Your Review Here</mat-label>
    <textarea matInput placeholder="-Write your review here-"></textarea>
  </mat-form-field>
<div class="action">
    <button mat-raised-button>Submit Review</button>
</div>

